h1 {
  text-align: center;
  padding-top: 0.7em;
  text-decoration: underline;
  font-size: 2.3em;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: white;
  /* border: 2px solid black; */
  border-radius: 8px;
  padding: 4px 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
  background-color: #8e858575;
}
.hero-btn:hover {
  /* border: 2px solid black; */
  border-radius: 8px;
  /* background:rgb(46, 44, 44); */
  /* transition: 4s; */
  color: #f44336;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.contact-us {
  margin: auto;
  width: 80%;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 50px;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 25px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 400;
}
.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 0.3em;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #ccc;
  box-sizing: border-box;
  resize: none;
}

.contact-col button {
  font-size: 1.3em;
  border: none;
}
@media (max-width: 700px) {
  .contact-col div h5 {
    font-weight: 200;
    font-size: 13px;
  }
}
