/*Animations*/

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

body {
  background-color: black;
  color: #fff;
}

/*College Name and Logo*/
.collegeinfo {
  text-align: center;
  position: relative;
  display: inline-flex;
  left: 25%;
  font-size: 2.3em;
}

.collegeinfo #name {
  text-align: center;
  color: #fff;
  position: relative;
  display: inline-block;
  margin: 30px 50px;
  top: -20%;
}

/*Accents*/

.accent {
  position: absolute;
  font-size: larger;
  top: 7%;
  left: 87%;
}

.accent #accent-menu {
  display: none;
  position: absolute;
  background-color: #333;
  border: 0.13em solid #fff;
  border-radius: 0.13em;
  height: 30px;
  border-radius: 30px;
  top: 120%;
  z-index: 1;
}

.accent #accent-menu a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: flex;
  border-radius: 30px;
}

.accent #accent-menu a:hover {
  background-color: #101010;
}

.greendot,
.reddot,
.yellowdot,
.orangedot,
.purpledot {
  position: relative;
}

.greendot {
  background-color: #6f3;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.reddot {
  background-color: #f44336;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.yellowdot {
  background-color: #ff0;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.orangedot {
  background-color: #f80;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.purpledot {
  background-color: #a0f;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

/*Nav-Bar*/
.topnav {
  text-align: center;
  background-color: #333;
  margin-top: 1%;
  width: auto;
  position: relative;
  border: 0.13em solid #fff;
  border-radius: 0.13em;
}

.topnav #myLinks {
  display: inline;
  text-align: center;
  font-size: large;
}

.topnav a {
  color: #fff;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 1.3em;
  display: inline;
}

.topnav a:hover {
  background-color: #fff;
  color: #101010;
}

/* footer section */

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 15px 0;
  background: #101010;
  color: #ddd;
}

.footer h4 {
  margin-bottom: 5px;
  margin-top: 7px;
  font-weight: 600;
}
.icons {
  position: relative;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: #ddd;
}

.icons .fab {
  margin: 0px 7px;
  cursor: pointer;
  padding: 6px 0;
}
