/*
MAIN
*/

/*Animations*/
@keyframes selectedmainmenu {
  0% {
    background-color: #333;
    color: #fff;
    border: 0.13em solid #333;
  }
  100% {
    background-color: #101010;
    color: #f44336;
    border: 0.13em solid #f44336;
  }
}

/*Nav-bar*/

.topnav #myLinks a:hover {
  background-color: #101010;
  border: 0.13em solid #f44336;
  text-decoration: underline;
  animation-name: selectedmainmenu;
  animation-duration: 0.5s;
  color: #f44336;
}

/*Footer*/
.footer h2 {
  color: #f44336;
}

.icons .fab {
  color: #f44336;
}
