<!DOCTYPE html>
<html lang="en">
  <head>
    <meta chatset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/main.css')}}"
    />
    {% if theme=="red" %}
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/accent/red.css')}}"
    />
    {% elif theme=="green" %}
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/accent/green.css')}}"
    />
    {% elif theme=="orange" %}
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/accent/orange.css')}}"
    />
    {% elif theme=="yellow" %}
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/accent/yellow.css')}}"
    />
    {% elif theme=="purple" %}
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/accent/purple.css')}}"
    />
    {% endif %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="collegeinfo">
      <img
        src="static\images\bitlogo.png"
        alt="Logo"
        style="width: 100px; height: 100px"
      />
      <div id="name"><b><u>Bangalore Institute of Technology</u></b></div>
    </div>
    <div class="accent">
      Accent : <div class="accentbutton" >
      <a href="javascript:void(0);" onclick="myFunction()">
      {% if theme=="red" %}
        <span class="reddot" style="position:absolute;top:5%;left:110%"</span>
      {% elif theme=="green" %}
      <span class="greendot" style="position:absolute;top:5%;left:110%"</span>
      {% elif theme=="orange" %}
      <span class="orangedot" style="position:absolute;top:5%;left:110%"</span>
      {% elif theme=="yellow" %}
      <span class="yellowdot" style="position:absolute;top:5%;left:110%"</span>
      {% elif theme=="purple" %}
      <span class="purpledot" style="position:absolute;top:5%;left:110%"</span>
      {% endif %}
      </a>
      <div id="accent-menu">
    <a href="theme/red"><span class="reddot"></span></a>
    <a href="theme/green"><span class="greendot"></span></a>
    <a href="theme/yellow"><span class="yellowdot"></span></a>
    <a href="theme/orange"><span class="orangedot"></span></a>
    <a href="theme/purple"><span class="purpledot"></span></a>
  </div>
      </div>
    </div>
    <div class="topnav">
      <div id="myLinks">
        <a href="/">Home</a>
        <a href="/departments">Departments</a>
        <a href="/facilities">Facilities</a>
        <a href="/clubs">Clubs</a>
        <a href="/contactus">Contact Us</a>
      </div>
    </div>
    {% block body %} {% endblock %}
    <div class="footer">
      <h2><u><b>Contact Us</u></b></h2>
      <p>
        BANGALORE INSTITUTE OF TECHNOLOGY<br />
        K R Road,V V Puram,Bengaluru-560004,India<br />
        Email:- principalbit4@gmail.com, principal@bit-bangalore.edu.in<br />
        Phone : +91-080-26615865 , 26613237 <br />Fax : +91-080-22426796
      </p>
      <div class="icons">
        <!--fab is used in the case of apps-->
        <a class="fab fa-facebook-f" href="https://www.facebook.com/bitsince1979"></a>
        <a class="fab fa-instagram" href="https://www.instagram.com/bitsince1979/"></a>
        <a class="fab fa-twitter" href="https://twitter.com/bitsince1979"></a>
        <a
          class="fab fa-youtube"
          href="https://www.youtube.com/bitsince1979"
        ></a>
      </div>
    </div>
    <script>
                function myFunction() {
                    var x = document.getElementById("accent-menu");
                    if (x.style.display === "flex") 
                    {
                        x.style.display = "none";
                    } else 
                    {
                        x.style.display = "flex";
                    }
                }
            </script>
  </body>
</html>
