{% extends 'base.html' %} {% block head %}
<title>BIT-Contact Us</title>
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/contactus.css')}}"
/>
{% endblock %} {% block body %}

<h1>Contact Us!</h1>

{% if msg %}
<h2>
  {{ msg }}<br />
  We will get in touch with you shortly!
</h2>
{% endif %}

<section class="contact-us">
  <div class="row">
    <div class="contact-col">
      <div>
        <i class="fa fa-home"></i>
        <span>
          <h5>Bangalore Institute of Technology</h5>
          <p>K R Road,V V Puram,Bengaluru-560004,India</p>
        </span>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <span>
          <h5>+91-080-26615865</h5>
          <p>Monday to Saturday, 8AM to 6PM</p>
        </span>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <span>
          <h5>principal@bit-bangalore.edu.in</h5>
          <p>Email us your query.</p>
        </span>
      </div>
    </div>
    <div class="contact-col">
      <form id="frmContactus" method="POST">
        <input
          type="text"
          placeholder="Enter your Name"
          name="name"
          id="name"
          required
          pattern="^[a-zA-Z-' ]*$"
          title="Please enter only alphabets"
        />
        <input
          type="email"
          autocomplete="off"
          id="email"
          name="email"
          placeholder="Enter a valid Email"
          required
        />
        <input
          type="tel"
          autocomplete="off"
          id="phone"
          name="phone"
          placeholder="Enter Valid Phone Number (Ex: 8448448501)"
          maxlength="10"
          pattern="[7896][0-9]{9}"
          required
        />
        <textarea
          rows="8"
          name="comment"
          placeholder="Comment"
          id="comment"
        ></textarea>
        <button
          type="submit"
          class="hero-btn red-btn"
          name="submit"
          id="submit"
        >
          SUBMIT
        </button>
        <span style="color: green" id="msg"></span>
      </form>
    </div>
  </div>
</section>
{% endblock %}
