{% extends 'base.html' %} {% block head %}
<title>BIT-Contact Us</title>
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/contactus.css')}}"
/>
{% endblock %} {% block body %}

<h1>Contact Us!</h1>

{% if msg %}
<h2>
  {{ msg }}<br />
  We will get in touch with you shortly!
</h2>
{% endif %}

<section class="contact-us">
  <div class="row">
    <div class="contact-col">
      <div>
        <i class="fa fa-home"></i>
        <span>
          <h5>Bangalore Institute of Technology</h5>
          <p>K R Road,V V Puram,Bengaluru-560004,India</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.260543961464!2d77.57184291484928!3d12.955172818743721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1592715c4e7f%3A0x7dfaf94e52204678!2sBangalore%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1631101298024!5m2!1sen!2sin" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </span>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <span>
          <h5><a href="tel:+91-080-26615865">+91-080-26615865</h5></a>
          <p>Monday to Saturday, 9AM to 5PM</p>
        </span>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <span>
          <h5><a href="mailto:principal@bit-bangalore.edu.in">principal@bit-bangalore.edu.in</h5>
          <p>Email us your query.</p></a>
        </span>
      </div>
    </div>
    <div class="contact-col">
      <form id="frmContactus" method="POST">
        <input
          type="text"
          placeholder="Enter your Name"
          name="name"
          id="name"
          required
          pattern="^[a-zA-Z-' ]*$"
          title="Please enter only alphabets"
        />
        <input
          type="email"
          autocomplete="off"
          id="email"
          name="email"
          placeholder="Enter a valid Email"
          required
        />
        <input
          type="tel"
          autocomplete="off"
          id="phone"
          name="phone"
          placeholder="Enter Valid Phone Number (Ex: 8448448501)"
          maxlength="10"
          pattern="[7896][0-9]{9}"
          required
        />
        <textarea
          rows="8"
          name="comment"
          placeholder="Comment"
          id="comment"
        ></textarea>
        <button
          type="submit"
          class="hero-btn red-btn"
          name="submit"
          id="submit"
        >
          SUBMIT
        </button>
        <span style="color: green" id="msg"></span>
      </form>
    </div>
  </div>
</section>
{% endblock %}
