{% extends 'base.html' %} {% block head %}
<title>BIT-Facilities</title>
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/facilities.css')}}"
/>
{% endblock %} {% block body %}

<div class="facilities">
  <h1><u>Facilities</u></h1>
  <p>BIT offers a lot of facilities like:</p>
  <ul>
    <li>Training and Placement Center</li>
    <li>State of the Art Library</li>
    <li>Auditorium</li>
    <li>Well equiped Seminar Hall</li>
    <li>Indoor Sports Auditorium</li>
    <li>Alumni Association</li>
    <li>Cooperative Society</li>
    <li>Canteen</li>
    <li>Hostel</li>
  </ul>
  <div class="row2">
    <div class="facilities-col">
      <img
        src="static\images\Lab.jpg"
        alt="Labs"
        style="width: 350px; height: 300px"
      />
      <h3>R&D Centres</h3>
      <p>
        Bangalore institute of technology has established recognized research
        and development (R & D) centres at all the thirteen departments.<br />
        These R & D centres offer full time and part time PhD and MSc
        (Engineering) programs for eligible research scholars.
      </p>
    </div>

    <div class="facilities-col">
      <img
        src="static\images\Placement.jpg"
        alt="Placement Office"
        style="width: 350px; height: 300px"
      />
      <h3>Placement and Training Center</h3>
      <p>
        The Center provides employment opportunities for the students in
        acclaimed world class organisations. Every year more than 100 top notch
        companies visit our Institution and conduct placement activities for the
        full time recruitment and internship. <br />Leading companies like
        Infosys, Wipro, Accenture, Cisco, Akamai, Microfocus, HPE, SAP, Nokia,
        Microchip, BEL, Mercedes Benz, Bosch, L&T- ECC and Brigade Group recruit
        our students.
      </p>
    </div>

    <div class="facilities-col">
      <img
        src="static\images\Library.jpg"
        alt="Library"
        style="width: 350px; height: 300px"
      />
      <h3>Library</h3>
      <p>
        The central library houses a total collection of 82992 documents and
        19572 titles covering all the major fields of science and engineering.
        Central library is well equipped with latest edition of books, bound
        journals and E- journals, magazines, standards, CD's, project reports
        etc<br />
        The central library is housed in two separate wings of main building
        with a carpet area of over 1204sq mts and is located in the center of
        the campus.
      </p>
    </div>
  </div>
  <div class="row2">
    <div class="facilities-col">
      <img
        src="static\images\hostel.webp"
        alt="Hostels"
        style="width: 350px; height: 300px"
      />
      <h3>Hostels</h3>
      <p>
        Bangalore institute of technology has established recognized research
        and development (R & D) centres at all the thirteen departments.<br />
        These R & D centres offer full time and part time PhD and MSc
        (Engineering) programs for eligible research scholars.
      </p>
    </div>

    <div class="facilities-col">
      <img
        src="static\images\sports.jpeg"
        alt="Sports"
        style="width: 350px; height: 300px"
      />
      <h3>Sports</h3>
      <p>
        The Center provides employment opportunities for the students in
        acclaimed world class organisations. Every year more than 100 top notch
        companies visit our Institution and conduct placement activities for the
        full time recruitment and internship. <br />Leading companies like
        Infosys, Wipro, Accenture, Cisco, Akamai, Microfocus, HPE, SAP, Nokia,
        Microchip, BEL, Mercedes Benz, Bosch, L&T- ECC and Brigade Group recruit
        our students.
      </p>
    </div>

    <div class="facilities-col">
      <img
        src="static\images\Auditorium.jpg"
        alt="Auditorium"
        style="width: 350px; height: 300px"
      />
      <h3>Auditorium</h3>
      <p>
        The central library houses a total collection of 82992 documents and
        19572 titles covering all the major fields of science and engineering.
        Central library is well equipped with latest edition of books, bound
        journals and E- journals, magazines, standards, CD's, project reports
        etc<br />
        The central library is housed in two separate wings of main building
        with a carpet area of over 1204sq mts and is located in the center of
        the campus.
      </p>
    </div>
  </div>
</div>
{% endblock %}
